extends layout

block content
  .jumbotron
    .container
      :markdown
        # Endokken

        Endokken is a tool for generating developer documentation for [Atom](https://atom.io)
        packages.
